
{% extends 'customer/sidebar.html' %}
{% load static %}
{% block content %}



        <!-- Main Content -->
        <div class="main-content">
            <!-- Dashboard Overview -->
            <div class="dashboard-overview">
                <div class="overview-grid">
                    <!-- First Row -->
                    <div class="overview-card">
                        <div class="card-content">
                            <i class="fas fa-box"></i>
                            <h3>Total Products Bid</h3>
                            <p>{{items_bid.count}}</p>
                        </div>
                    </div>
                    <div class="overview-card">
                        <div class="card-content">
                            <i class="fas fa-chart-line"></i>
                            <h3>Products Won</h3>
                            <p>{{items_won.count}}</p>
                        </div>
                    </div>
                    <div class="overview-card">
                        <div class="card-content">
                            <i class="fas fa-wallet"></i>
                            <h3>Total Spent</h3>
                            <p>${{total_spent}}</p>
                        </div>
                    </div>
                    <!-- Second Row -->
                    <div class="overview-card">
                        <div class="card-content">
                            <i class="fas fa-bell"></i>
                            <h3>Notifications</h3>
                            <p>{{notis.count}}</p>
                        </div>
                    </div>
                    <div class="overview-card">
                        <div class="card-content">
                            <i class="fas fa-comment"></i>
                            <h3>Reviews</h3>
                            <p>{{reviews.count}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product List -->
            <div class="product-list">
                <h2> Products Bid </h2>
                
               <div class="card-container">
                {% for p in items_bid %}
                <div class="product-container">
                    <div class="product-image">
                        <img src="{{p.images.first.image.url}}" alt="Product Image">
                    </div>
                    <div class="product-items">
                    <div class="product-info">
                        <h3>{{p.name}}</h3>
                        <p>Category:{{p.category}}</p>
                        <p>Current-Bid:{{p.current_bid}}</p>
                        <p>Shipping:{{p.shipping}}</p>
                    </div>
                   
                    <div class="product-actions">
                        <a href="{% url 'base:product_detail' p.id %}"><button class="btn-view"><i class="fas fa-eye"></i>View</button></a>
                    </div>
                </div>
                </div>
                {% endfor %}
                </div>
                
            </div>
        </div>
</body>
</html>

{% endblock content %}

