
{% extends 'customer/sidebar.html' %}
{% load static %}
{% block content %}



        <!-- Main Content -->
        <div class="main-content">


            <!-- Product List -->
            <div class="product-list">
                <h2> Orders </h2>
                
               <div class="card-container">
                {% for p in orders %}
                <div class="product-container">
                    <div class="product-image">
                        <img src="{{p.product.images.first.image.url}}" alt="Product Image">
                    </div>
                    <div class="product-items">
                    <div class="product-info">
                        <h3>{{p.name}}</h3>
                        <p>Category:{{p.product.category}}</p>
                        <p>FinalBid:{{p.product.current_bid}}</p>
                        <p>Shipping:{{p.product.shipping}}</p>
                        <p>DeliveryStatus:{{ p.delivery_status }}</p>
                        
                    </div>
                   
                    <div class="product-actions">
                        <a href="{% url 'customer:rate_product' p.product.id %}" class="btn-rate">
                            {% if user_existing_review %}Update Your Review{% else %}Write a Review{% endif %}
                        </a>
                    </div>
                </div>
                </div>
                {% endfor %}
                </div>
                
            </div>
        </div>


        {% endblock content %}
